<!DOCTYPE html>
<html>
    <head>
        <title>ACS730 Assignment 1 Ubuntu</title>
    </head>
    <body>
        <h1>Hello from {{ ansible_hostname }} - {{ custom_message }}.</h1>
        <p>Created by Zhuo Jue Lee (ACS730 Assignment 1 Summer 2025)</p>
    </body>
</html>